
// variables-operadores matemáticos

$ancho: 990px;
$alto: 400px;
$blue: #cbeaf8;
$green: #33d374;
$rosa: rgb(245, 147, 166);
$blanco: white;

$principal: rgb(44,62,167);
$twitter: rgb(81, 188, 238);
$whatsapp: green;
$instagram:rgb(172, 37, 199);
$youtube: rgb(226, 38, 38);

// MODIFICANDO LAS VARIABLES DE BOOTSTRAP

$primary: $principal;
$secondary: $twitter;
$succes: $whatsapp;
$info: $instagram;
$warning: $youtube;
$enable-rounded: false;


@import "../bootstrap/bootstrap/scss/bootstrap.scss";


.box_uno{
    background-color: $blue;
    width: $ancho;    
}
.box_dos{
    background-color: $blue;
    width: $ancho;
    height: 450px
}
.box_tres{
    background-color: $blue;
    width: $ancho;
    
}
.box_cuatro{
    background-color: $blue;
    width: $ancho;
    
}
.box_cinco{
    background-color: $blue;
    width: $ancho;
    
}

@import "body";
@import "footer";
@import "main";
@import "aside";
