
// variables-operadores matemáticos

$ancho: 990px;
$alto: 400px;
$blue: #cbeaf8;
$green: #33d374;
$rosa: rgb(245, 147, 166);
$blanco: white;

$facebook: rgb(44,62,167);
$twitter: rgb(81, 188, 238);
$whatsapp: green;
$instagram:rgb(172, 37, 199);
$youtube: rgb(226, 38, 38);

// MODIFICANDO LAS VARIABLES DE BOOTSTRAP

$primary: $facebook;
$secondary: $twitter;
$succes: $whatsapp;
$info: $instagram;
$warning: $youtube;
$enable-shadows: true;
$enable-gradients: true;
$btn-padding-y: 0.5rem;
$btn-padding-x: 1.5rem;
$btn-border-radius: 1rem;

@import "../bootstrap/bootstrap/scss/bootstrap.scss";


.btn-primary {
    border-bottom: 3px solid rgba(0, 0, 0, 0.28);
}
.btn-secondary {
    border-bottom: 3px solid rgba(0, 0, 0, 0.28);
}
.btn-success {
    border-bottom: 3px solid rgba(0, 0, 0, 0.28);
}
.btn-info {
    border-bottom: 3px solid rgba(0, 0, 0, 0.28);
}
.btn-warning {
    border-bottom: 3px solid rgba(0, 0, 0, 0.28);
}


.box_uno{
    background-color: $blue;
    width: $ancho;    
}
.box_dos{
    background-color: $blue;
    width: $ancho;
    height: 450px
}
.box_tres{
    background-color: $blue;
    width: $ancho;
    
}
.box_cuatro{
    background-color: $blue;
    width: $ancho;
    
}
.box_cinco{
    background-color: $blue;
    width: $ancho;
    
}

@import "body";
@import "footer";
@import "main";
@import "aside";
